// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-create a{
  color: #FFF;
  font-size: 15px;
  background-color: #337ab7;
  color: #FFF;
  border: solid 1px #337ab7;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
.new-create a:active{
  color: #FFF;
  font-size: 15px;
  background-color:#1f619b;
  color: #FFF;
  border: solid 1px #337ab7;
  border-radius: 5px;
  padding: 10px;
}
.new-create{
  padding: 10px;
  margin-bottom: 10px;
}
.table-search{
  margin-bottom: 10px;
  margin-top: 20px;
}
.search{
  border-top: solid 1px gainsboro;
}
.td-search p{
  margin: 0;
}

@media screen and (min-width: 1040px){
  .td-search{
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 42.5%;
  }
  .td-search input{
    width: 400px;
  }
  input, select{
    width: 400px;
    height: 35px;
  }
  .td-submit input{
    width: 150px;
    background-color: #337ab7;
    color: #FFF;
    border: solid 1px #337ab7;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  }
  .td-submit input:active{
    width: 150px;
    background-color: #1f619b;
    color: #FFF;
    border: solid 1px #337ab7;
    border-radius: 5px;
  }
}

@media screen and (max-width: 1040px){
  .td-search{
    padding-top: 10px;
    padding-bottom: 15px;
    width: 40%;
  }
  .td-search input{
    width: 200px;
  }
  input, select{
    width: 200px;
    height: 35px;
  }
  .td-submit input{
    width: 100px;
    background-color: #337ab7;
    color: #FFF;
    border: solid 1px #337ab7;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  }
  .td-submit input:active{
    width: 100px;
    background-color: #1f619b;
    color: #FFF;
    border: solid 1px #337ab7;
    border-radius: 5px;
  }
}
@media screen and (max-width: 515px){
  .td-search{
    padding-top: 10px;
    padding-bottom: 15px;
    width: 38%;
  }
  .td-search input{
    width: 150px;
  }
  input, select{
    width: 100px;
    height: 35px;
  }
  .td-submit input{
    width: 100px;
    background-color: #337ab7;
    color: #FFF;
    border: solid 1px #337ab7;
    border-radius: 5px;
  }
  .td-submit input:active{
    width: 100px;
    background-color: #1f619b;
    color: #FFF;
    border: solid 1px #337ab7;
    border-radius: 5px;
  }
}


table{
  width: 100%;
  table-layout: fixed;
  background-color: rgb(252, 252, 252);
}
thead{
  border-top: solid 1px gainsboro;
}
th{
  border-right: solid 1px gainsboro;
  padding: 3px;
}
th:first-child{
  border-right: solid 1px gainsboro;
  border-left: solid 1px gainsboro;
  padding: 3px;
}
.tr-main{
  border-bottom: solid 1px gainsboro;
  font-size: large;
}
.tr-main td{
  border-right: solid 1px gainsboro;
  padding: 6px;
  width: 100px;
}
.tr-main td:first-child{
  border-left: solid 1px gainsboro;
}


.overflow{
  width: 17%;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; /* Safari */
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.color-black a{
  color: #000;
}
.color-black a:hover{
  color: rgb(0, 110, 255);
}
@media screen and (min-width: 720px){
  .link-fence a{
    border: solid 1px #337ab7;
    border-radius: 5px;
    padding: 2px;
  }
}
.link-fence a:hover{
  background-color: #337ab7;
  color: #FFF;
  text-decoration: none;
}
.fence a{
  display: block!important;
}
.destroy a:hover{
  background-color: red;
  border: solid 1px red;
  border-radius: 5px;
}

.show-tr{
  border-top: solid 1px gainsboro;
}
.show-tr:last-child{
  border-bottom: solid 1px gainsboro;
}

.show-subject{
  width: 200px;
  font-weight: bold;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.show-content{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  word-break: break-all;
}

.show-table{
  margin-top: 50px;
}
.show-div{
  margin-top: 40px;
}
.show-link a{
  margin-top: 20px;
  border: solid 1px #337ab7;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}
.show-edit a:hover{
  margin-top: 20px;
  border: solid 1px #337ab7;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  background-color: #337ab7;
  color: #FFF;
  text-decoration: none;
}
.show-destroy a:hover{
  margin-top: 20px;
  border: solid 1px red;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  background-color: red;
  color: #FFF;
  text-decoration: none;
}


.field {
  // border-top: solid 1px gainsboro;
  // padding-top: 100px;
}
.last-field{
  // border-bottom: solid 1px gainsboro;
}
td.new-subject{
  padding-top: 30px;
}
.new-subject{
  width: 400px;
}
.new-content input{
  width: 100%;
}
.new-content textarea{
  width: 100%;
  height: 400px;
}
.new-content select{
  width: 100%;
}
.new-deadline-content select{
  width: 33%;
}
.new-deadline-content{
  white-space: nowrap;
}
.new-submit{
  padding-top: 50px;
  padding-bottom: 50px;
}

.show-table{
  margin-top: 50px;
}
.show-div{
  margin-top: 40px;
}
.show-link a{
  margin-top: 20px;
  border: solid 1px #337ab7;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}
.show-edit a:hover{
  margin-top: 20px;
  border: solid 1px #337ab7;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  background-color: #337ab7;
  color: #FFF;
  text-decoration: none;
}
.show-destroy a:hover{
  margin-top: 20px;
  border: solid 1px red;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  background-color: red;
  color: #FFF;
  text-decoration: none;
}
.show-content{
  word-break: break-all;
}
