<h1>admin</h1>
<table>
<% @users.each do |user| %>
<tr>
  <td><%= link_to user.name, user, class: ""%></td>
  <td>タスク数:<%= user.tasks.count %></td>
  <td><%= link_to t('view.edit'), edit_admin_user_path(user) %></td>
  <td><%= link_to t('view.destroy'), user, method: :delete, data: { confirm: t('view.destroy message') } %></td>
<% end %>
</tr>
</table>